@charset "utf-8";

.padding20{
  padding: 0px 20px;
}

.odoo .oe_form_readonly .oe_comparison .oe_comparison_button_add {
  display: none;
}
.odoo .oe_form_readonly .oe_comparison div.oe_view_nocontent {
  display: none;
}
.odoo .oe_comparison {
  overflow-x: auto;
}
.odoo .oe_comparison table {
  width: 99.99%;
  /*border-collapse: separate;
  border-spacing: 4px;*/
}
.odoo .oe_comparison table input[type='text']{
  width: 100%;
  margin: 0px;
  border: 1px solid red;
}
.odoo .oe_comparison input[type=checkbox]{
  width: 30px;
  height: 30px;
  border:1px solid red;
}
.odoo .oe_comparison td {
  padding: 3px 5px;
  /*padding: 2px;*/
  font-size: 12px;
  text-align: right;
}
.odoo .oe_comparison td.border-red{
  border:1px solid red;
}
.odoo .oe_comparison td{
/*  border-left: 1px solid #999;
  border-right: 1px solid #999;*/
  border-width: 1px !important;
  border-style: dotted !important;
  border-color: #CECECE !important;

  vertical-align: middle;
}
.bold{
  font-weight: bold;
}
.td_background_color {
  background-color: #F0F0F0;
}

.solid-all,
.solid-bottom,
.solid-left,
.solid-right,
.solid-top{
  border-width: 1px;
  border-color: #565656;
}
.solid-all{
  border-style: solid;
}
.solid-bottom{
  border-bottom-style: solid;
}
.solid-left{
  border-left-style: solid;
}
.solid-right{
  border-right-style: solid;
}
.solid-top{
  border-top-style: solid;
}

tr.solid-top td{
  padding-top: 4px !important;
}
tr.solid-bottom td{
  padding-bottom: 4px !important;
}

.odoo .oe_comparison tr th:first-child,
.odoo .oe_comparison tr th:last-child,
.odoo .oe_comparison tr td:first-child,
.odoo .oe_comparison tr td:last-child{
  border-left-width: 0px;
  border-right-width: 0px;
}



.odoo .oe_comparison th {
  text-align: center;
  color: #006699;
  width: 18%;
  font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
  font-size: 20px;
  background: #eeeeee;
  min-width: 47px;
}
.odoo .oe_comparison .oe_comparison_total {
  background: #eeeeee;
}
.odoo .oe_comparison .oe_comparison_account {
  text-align: left;
}
.odoo .oe_comparison .oe_comparison_first_col {
  min-width: 130px;
}
.odoo .oe_comparison td input.oe_comparison_input {
  padding-right: 2px !important;
  /*width: 58px;*/
  text-align: right;
  min-width: 0 !important;
}
.odoo .oe_comparison td.oe_comparison_total {
  font-weight: bold;
  padding: 5px 3px !important;
}
.odoo .oe_comparison .oe_comparison_adding_tot {
  display: table;
  width: 100%;
}
.odoo .oe_comparison .oe_comparison_adding {
  display: table-cell;
  text-align: left;
}
.odoo .oe_comparison .oe_comparison_tottot {
  display: table-cell;
}
.odoo .oe_comparison .oe_comparison_add_row td {
  text-align: right;
}
.odoo .oe_comparison .oe_comparison_add_row .oe_form_field_many2one {
  display: inline-block;
  width: 200px;
}
.odoo .oe_comparison .oe_comparison_today {
  background: #ffddee;
}
